/* Importing google font -> Overpass */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #212020;
}

/* Navbar */
nav {
    align-items: center;
    background-color: #191919;
    color: #fff;
    padding: 15px;
}

#logo {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Favourite movies container */

#wrapper {
    display: grid;
    padding: 10px;
    justify-content: space-evenly;
}

.movie-card {
    height: 250px;
    width: 200px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.movie-card:hover{
    transform: scale(1.15, 1.15);
}
.poster{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

@media (min-width: 850px) {
    #wrapper {
        margin: 10px;
        grid-template-columns: auto auto auto auto;
        gap: 2rem 1rem;
    }
    .movie-card {
        height: 250px;
        width: 200px;
    }
}

@media (max-width: 850px){
    #wrapper{
        grid-template-columns: auto auto auto;
        gap: 2rem 1rem;
    }
    .movie-card {
        height: 200px;
        width: 150px;
    }
}

@media(max-width: 450px) {
    #wrapper{
        grid-template-columns: auto auto auto;
        gap: 1.5rem 0.5rem;
    }
    .movie-card {
        height: 150px;
        width: 100px;
    }
}

@media(max-width: 300px){
    #wrapper{
        grid-template-columns: auto auto;
        gap: 1.5rem 0.5rem;
    }
    .movie-card {
        height: 150px;
        width: 100px;
    }
}